 

@font-face{
    font-family: "Righteous";
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/Righteous-Regular.ttf'),
    url('../assets/fonts/Righteous-Regular.ttf'); /* IE */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1 {
    font-family: "Righteous", "sans-serif";
    font-size: 2em;
    color: blue;
}

p {
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 20px;
}

.about-text {
    font-family: "Georgia", "serif";
    width: 50%;
    padding-left: 20px;

}

.mini-nav {
    font-family: "Righteous", "sans-serif";
    font-size: 0.25em;
    padding-left: 60%;
    padding-bottom: 30px;
}

.main-header {
    font-family: "Righteous", "sans-serif";
    font-size: 3em;
    color: blue;
    width: 100%;
    padding-left: 20px;
}

.grid-container {
  display: grid;
}

.grid-item {
    font: "serif";
}

.first {
  grid-row-start: 1;
  grid-row-end: 3;
}