<!DOCTYPE html>
<html>
	<head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!-- My Stylesheet -->
  		<link href="/static/styles.css" rel="stylesheet"/>
  		
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet"> 
	</head>
	<body>
        <div class="main-header">
            <h1>BAND_NAMES</h1> 
            <div class="mini-nav">
                <p><a href="/"> (go back home) </a></p>
                <p><a href="/submit">  (submit your own band_name) </a></p>
            </div>
        </div>
		<div class="grid-container">
	        <p class="about-text"> 
            This website is a collaboration between Hunter Brown & Quinn Batten. It's a translation and extension of one of Hunter's art pieces onto the ~web~.
          </p>
        </div> 
  </body>
</html>