<!DOCTYPE html>
<html>
	<head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  		<link href="/static/styles.css" rel="stylesheet"/>
  		<style>
  			{% for item in gen_css %}
  			{{item}}
  			{% endfor %}
	  	</style>
	</head>
	<body>
		<div class="grid-container">
	        {% for item in band_names %}
        		<div class="grid-item" id="name-{{loop.index0}}">{{item}}</div>
        	{% endfor %}
        </div> 
  </body>
</html>