 

@font-face{
    font-family: "Plantin";
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/Plantin.woff'),
    url('../assets/fonts/Plantin.woff'); /* IE */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
  display: grid;
}

.first {
  grid-row-start: 1;
  grid-row-end: 3;
}