<!DOCTYPE html>
<html>
	<head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!-- My Stylesheet -->
  		<link href="/static/styles.css" rel="stylesheet"/>
  		
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet"> 
	</head>
	<body>
        <div class="main-header">
            <h1>BAND_NAMES</h1> 
            <div class="mini-nav">
                <p><a href="/about"> (about) </a></p>
                <p><a href="/">  (go back home) </a></p>
            </div>
        </div>
		<div class="grid-container">
	        <p class="about-text"> 
            Submit your own band name!
          <p>
      <form action="/submit" method="post">
          <div class="form-group">
              <input autocomplete="off" autofocus class="form-control" name="bandname" placeholder="Band Name" type="text"/>
          </div>
          <button class="btn btn-primary" type="submit">Submit it</button>
      </form>
    </div> 
  </body>
</html>